main {
  flex: 1;
  padding: 2.5rem 0;
  background: white;
}

main h1,
main h3 {
  text-align: center;
}

main h1::after {
  content: "";
  display: block;
  height: 4px;
  width: 25px;
  margin: 0 auto;
  margin-top: 5px;
  background: #ef233c;

  border-radius: 3px;
}

.section-project {
  padding: 4rem;
  background: rgb(246, 246, 246);
}

.section-project h4,
.section-oss-activity h4 {
  text-align: center;
  font-weight: 300;
  font-size: 1.2em;
}

.projects {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.html {
  color: #e34f26;
}

.js {
  color: #f7df1e;
}

.css {
  color: #2f77b8;
}

.angular {
  color: #cc2b39;
}

.react {
  color: #80d8f7;
}

.php {
  color: #777caf;
}

.about-me {
  margin-bottom: 5rem;
}

.about-me .left {
  width: 50%;
}

.about-me .left h3 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: left;
  margin: 2em 0 1em;
  color: #d90429;
}

.about-me .left p {
  line-height: 1.6;
  font-size: 1.2em;
}

.about-me .right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-me .right img {
  transform: rotate(5deg);
}

.about-me-wrapper {
  display: flex;
}

.section-oss-activity {
  padding: 4rem 0;
}
